@model BobSysWeb.Models.DatabaseDetailModel
@{
    ViewData["Title"] = "Detail";
}



<div class="card" >
    <img src="https://www.wematch.de/wp-content/uploads/2022/03/wematch-logo.png" class="card-img-top" alt="..."  style="width:200px;">
  <div class="card-body">
        <h1 class="card-title" >@Html.DisplayFor(m => m.title)</h1>
        <h5 class="card-title">@Html.DisplayFor(m => m.name), @Html.DisplayFor(m => m.city)</h5>
        <hr />

        <div class="card-text">@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.publicDescription)) </div>
  </div>

  <div class="card-body">
        <a class="btn btn-warning" href=@ViewData["URL"] class="card-link" target="_blank">Bewerbung</a>
  </div>
</div>



